.header {
  display: flex;
  min-height: 15vh;
}

@media screen and (max-width: 480px) {
  .header {
    min-height: 13vh;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: white;
  }
}
