.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* max-height: 360px; */
  min-height: 85vh;
  overflow: hidden;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  /* padding-bottom: 130px; */
}

@media screen and (max-width: 480px) {
  .intro {
    padding-top: 10px;
    padding-bottom: 10px;
    /* grid-template-columns: unset;
    grid-template-rows: 1fr 1fr; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}